<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xmwang.cyh">

    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 添加读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    //定位包、导航包需要的额外权限（注：基础权限也需要）
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:label">

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- 高德key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="fdd0670eb8a61e9920b280b6fe1f21b8" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 微信配置 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity
            android:name=".daijia.IndexActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.EditParmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.CreateDJOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.TaximeterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.OverOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.TempListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.EditTempActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.home.IndexActivity"
            android:label="@string/title_activity_index"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.user.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.user.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".daijia.ChooseLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.business.BusinessDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.personal.UserAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.RechargeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.CashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.CouponsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.YangcheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.AddYangcheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.RoadescueActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.home.FuelcardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.DriverAuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.MyOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.personal.MyCarActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".daijia.ManagerActivity" android:screenOrientation="portrait" />
        <activity android:name=".daijia.OrderActivity" android:screenOrientation="portrait" />
        <activity android:name=".daijia.AccActivity" android:screenOrientation="portrait" />
        <activity android:name=".daijia.OrderDetailActivity" android:screenOrientation="portrait"  />
    </application>

</manifest>